* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, Impact;
}

html {
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
  margin: 0;
}

body {
  background-color: rgb(230 230 230);
  background-color: rgb(230 230 230);
  font-size: 1.2em;
  height: 100%;
  margin: 0;
}
/* CONTAINER */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* HEADER */
.header__container {
  height: auto;
  width: 100%;
  background-color: #efefef;
  box-shadow: 0 0 10px 0 #000;
  padding: 0 1em;
  font-weight: bold;
  font-weight: bold;
}

.header__container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container .navbar .logo {
  width: 4em;
  padding: 1em;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.header__container .navbar .logo:hover {
  transform: scale(1.2);
}

.header__container .navbar .logo img {
  width: 100%;
  height: auto;
}

.header__container .navbar ul {
  display: flex;
}

.header__container .navbar ul li {
  list-style: none;
  padding: 0 0.6em;
}

.header__container .navbar ul li a {
  text-decoration: none;
  color: #333;
  color: #333;
  position: relative;
}
/* transicion de enlaces al hacerle hover, el elemento "a" del padre debe tener position relative*/
.header__container .navbar ul li a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  background-color: #333;
  transition: width 0.3s ease-in-out;
}
.header__container .navbar ul li a:hover::after {
  width: 100%;
}

.header__container .navbar ul li a i {
  margin-right: 0.2em;
}
.header__container .navbar .github {
  padding: 1em;
  transition: transform 0.3s ease;
}
.header__container .navbar .github:hover {
  transform: scale(1.4);
}

/* MAIN */

.main {
  padding: 1em;
  font-weight: 400;
  background-color: #efefef;
  margin-top: 1em;
  flex: 1;
}

.main h1,
.main h2 {
  padding: 0.5em;
  text-align: center;
  color: #333;
}

.main section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main section article {
  width: 30%;
  margin: 1em 0.5em;
}

.main {
  padding: 1em;
  font-weight: 400;
  background-color: #efefef;
  margin-top: 1em;
  flex: 1;
}

.main h1,
.main h2 {
  padding: 0.5em;
  text-align: center;
  color: #333;
}

.main section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* FOOTER */

.footer {
  background-color: #efefef;
  color: #333;
  margin-top: 1em;
  text-align: center;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px 0 #000;
  font-weight: bold;
}

/* CONTACTO */
.contact {
  width: 50%;
  border: 2px solid black;
  border-radius: 1em;
  margin: 0 auto;
  padding: 1.5em;
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact form label {
  padding: 0.5em 0;
  font-weight: 600;
}

.contact form input {
  padding: 0.5em;
  color: #333;
}

.contact form textarea {
  resize: none;
}
.contact form button {
  padding: 0.5em;
  margin-top: 1em;
  color: #333;
  font-size: 1em;
  font-weight: bold;
}
/* PRODUCTOS */
.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.products article img {
  width: 100%;
  height: auto;
}

.products article h2 {
  font-size: 1em;
}

.products article p {
  font-size: 0.8em;
  text-align: center;
}

/* RESEÑAS */
.main section.reseñas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}
.main section.reseñas article {
  width: auto;
}
.reseñas article img {
  width: 100%;
  height: auto;
  border-radius: 2em;
}

.reseñas article h2 {
  font-size: 1em;
}

.reseñas article span:before {
  content: "- ";
}

@media (max-width: 768px) {
  .main section article {
    width: 100%;
  }
  .main section.reseñas {
    grid-template-columns: 1fr;
    align-items: start;
  }
  .contact {
    width: 100%;
  }
  .logo {
    width: auto;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
}
